.button {
  all: unset;

  cursor: pointer;

  display: inline-flex;
  column-gap: 10px;
  align-items: center;

  box-sizing: border-box;
  padding: 6px 28px;

  font-family: inherit;
  color: inherit;

  border-radius: 4px;

  transition: 0.2s;

  &:focus-visible {
    outline: 2px solid var(--color-info-500);
  }

  & img {
    width: auto;
    height: 16px;
  }
}

.primary {
  background-color: var(--color-accent-500);

  &:active {
    background-color: var(--color-accent-700);
  }

  &:disabled {
    background-color: var(--color-accent-900);
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--color-accent-300);
    }
  }
}

.secondary {
  background-color: var(--color-dark-300);

  &:active {
    background-color: var(--color-dark-500);
  }

  &:disabled {
    background-color: var(--color-dark-300);
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--color-dark-100);
    }
  }
}

.button:disabled {
  pointer-events: none;
  color: var(--color-light-900);

  & img {
    opacity: 0.7;
  }
}

.fullWidth {
  width: 100%;
}
