.button {
  all: unset;
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  padding: 6px 28px;
  border-radius: 4px;
  transition: 0.2s;

  &:focus-visible {
    outline: 2px solid var(--color-info-500);
  }
}

.primary {
  background-color: var(--color-accent-500);

  @media (hover: hover) {
    &:hover {
      background-color: var(--color-accent-300);
    }
  }

  &:active {
    background-color: var(--color-accent-700);
  }

  &:disabled {
    background-color: var(--color-accent-900);
    color: var(--color-light-900);
    cursor: not-allowed;
  }
}

.secondary {
  background-color: var(--color-dark-300);

  &:hover {
    background-color: var();
  }

  &:active {
    background-color: var();
  }
}

.fullWidth {
  width: 100%;
}
